@model Outa.ViewModels._Notification
@foreach (var item in Model.Messages)
{
    <li>@Html.ActionLink(item.AuthorUn + ", " + item.Subject, "Details", "Messages", new { id = item.Id }, null)</li>
}
@foreach (var item in Model.Offers)
{
        var c = new Outa.Controllers.OffersController();
        string title = c.getRequestTitle(item.o_Parent);
    <li>@Html.ActionLink(title + ", " + item.o_Price, "IndexByParent", "Offers", new { id = item.o_Parent }, null)</li>
}
<script>

    function changeContent() {
        var count = @Model.Offers.Count() + @Model.Messages.Count();
        if(count > 0)
        {
            var myelement = document.getElementById("notiCount");
            if(myelement.classList.contains("hide"))
            {
                myelement.classList.remove("hide");
            }
            myelement.innerHTML = count;
        }
        else
        {
            var myelement = document.getElementById("notiCount");
            myelement.classList.add("hide");
        }
    }
    changeContent();
</script>