body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 10000px;
}
#indexjumbo
{
    color:white;
    text-align:center;
    width:100%;
    height:auto;
  background: url(../Content/img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.parent-container{

}
.jumbo-content{

}
.requesttable{
    height: auto;
    justify-content: center;
    text-align: center;
    width: auto;
    border-style: solid;
    border-width: 2px;
    border-color: 	#6bd2db;
}
.requestcontent{
    text-align:center;
    font-size: 18px;
    color:#0ea7b5;
}
.topbutton{
}
.detailsContent{
    font-size:large;
    text-align:center;
    padding-top:50px;
    padding-bottom:50px;
    color:#0c457d;
}
.detailsOther
{
    font-size:large;
    text-align:center;
    padding-top:0px;
}
.detailsOtherH
{
    color:#0c457d;
    font-size:large;
    text-align:center;
    padding-top:0px;
}
#backbutton{
    padding-top:50px;
    text-align:center;
}
#map { 
       height: 400px; 
       width:auto;
}
.detailsImage
{
    vertical-align:middle;
    margin: 0px auto;
    height:auto;
    padding-bottom:10px;
    display:block;
}
.spacer{
    padding-top:30px;
    padding-bottom:30px;
}
#grid-container{
    padding-top:170px;
    margin: 0 auto;
}
@media screen and (max-width: 1000px) {
    #grid-container{
        padding-top:10px;
    }
}
.table-image{
    max-height:40%;
    max-width:40%;
    padding: 1px;
}
@media screen and (max-width: 1000px) {
.table-image{
    max-height:100%;
    max-width:100%;
    padding: 1px;
}
}
.clickable-row:hover
{
    cursor:pointer;
}
.review
{
text-align:center;
vertical-align:middle;
align-content:center;
border: solid 1px;
height: 120px;
}
.profile-pic
{
    max-height: 25%;
    max-width:25%;
}
.profile-container
{
    background-color:#f0fafb;
}
.sad-guy
{
    border:none !important;
}
.hide{
    display:none;
}
#imgpreview{
    width:25%;
    height:auto;
    padding:15px;
}
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}