body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 10000px;
}
#indexjumbo
{
    color:white;
    text-shadow: 1px 1px #000000;
    text-align:center;
    justify-content:center;
    background-image:url(https://wallpaperscraft.com/image/bmw_325i_e30_white_auto_93276_1366x768.jpg);
    height:700px;
    vertical-align:middle;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jumbo-content{
}
.requesttable{
    height: auto;
    justify-content: center;
    text-align: center;
    width: auto;
    box-shadow: 10px 10px 5px #888888;
}
.requestcontent{
    text-align:center;
    font-size: 18px;
    color:#191919;
}
.topbutton{
    padding-bottom:20px;
}
.detailsContent{
    font-size:large;
    text-align:center;
    padding-top:50px;
}
.detailsOther
{
    font-size:large;
    text-align:center;
    padding-top:0px;
}
.detailsOtherH
{
    color:red;
    font-size:large;
    text-align:center;
    padding-top:0px;
}
#backbutton{
    padding-top:50px;
    text-align:center;
}
#map { 
       height: 400px; 
       width:auto;
}
.detailsImage
{
    vertical-align:middle;
}
.spacer{
    padding-top:30px;
    padding-bottom:30px;
}