@{
    ViewBag.Title = "Home Page";
    Layout = "/Views/Shared/LayoutFluidHome.cshtml";
}

    <div class="jumbo-content">
    <h1 style="color:#ffbe4f; font-weight:600">Outa</h1>
    <p class="lead" style="font-size:24px">The easiest solution to all your car related needs</p>
    <p><a href="~/Requests/Create" class="btn btn-primary btn-lg">Request Service &raquo;</a></p>
</div>