@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="indexjumbo">
    <div class="jumbo-content">
    <h1 style="color:#e8702a">Outa</h1>
    <p class="lead" style="font-size:24px">The easiest solution to all your car related needs</p>
    <p><a href="~/Requests/Create" class="btn btn-primary btn-lg">Request Service &raquo;</a></p>
        </div>
</div>
